.place__title {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.21;
    text-overflow: ellipsis;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
}