 .profile__info {
     margin: 0;
     grid-area: info;
     display: grid;
     grid-template-columns: 1fr 24px;
     justify-content: space-between;
     align-items: baseline;
     grid-template-rows: auto;
     gap: 16px;
     max-width: 560px;
 }
 
 @media screen and (max-width: 1024px) {
     .profile__info {
         padding-top: 26px;
         padding-bottom: 36px;
         justify-items: center;
         grid-template-areas: ". name btn";
         grid-template-columns: 18px 1fr 18px;
     }
 }
 
 @media screen and (max-width: 768px) {
     .profile__info {
         gap: 10px;
         max-width: 282px;
     }
 }