.profile__avatar-edit-button {
    opacity: 0;
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: black;
    padding: 0;
    margin: auto;
    object-fit: cover;
    box-sizing: border-box;
    z-index: 3;
    cursor: pointer;
    border: 0;
}

.profile__avatar-edit-button:hover {
    opacity: .8;
    background-image: url("../../../images/Vector.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity .2s ease-in;
}