.profile__subtitle {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    margin: 0;
    align-items: flex-end;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    grid-column: 1 / -1;
}

@media screen and (max-width: 1024px) {
    .profile__subtitle {
        max-width: 560px;
    }
}

@media screen and (max-width: 768px) {
    .profile__subtitle {
        max-width: 282px;
    }
}