.footer__copyright {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.22;
    color: #545454;
    margin: 60px 0 67px;
}

@media screen and (max-width: 720px) {
    .footer__copyright {
        margin: 48px 0 36px;
        font-size: 14px;
        line-height: 1.21;
    }
}