.profile {
    max-width: 880px;
    margin: 0 auto 51px;
    display: flex;
    align-items: center;
    min-width: 320px;
    width: 100%;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .profile {
        flex-direction: column;
        justify-items: center;
        max-width: 582px;
        margin-bottom: 30px;
    }
}