.popup__close {
    background-image: url(../../../images/Close-Icon.svg);
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 999;
    position: absolute;
    right: -40px;
    top: -40px;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 520px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}