.profile__edit-button {
    background-image: url(../../../images/edit-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    background-color: black;
    cursor: pointer;
    padding: 0;
}

.profile__edit-button:hover {
    opacity: .6;
    justify-content: flex-start;
}

@media screen and (max-width: 1024px) {
    .profile__edit-button {
        grid-area: btn;
    }
}

@media screen and (max-width: 768px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        background-size: 7.5px;
    }
}