.profile__title {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 1024px) {
    .profile__title {
        grid-area: name;
        max-width: 487px;
    }
}

@media screen and (max-width: 768px) {
    .profile__title {
        font-size: 27px;
        line-height: 1.22;
        max-width: 246px;
    }
}