.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    grid-area: avatar;
    object-fit: cover;
    margin: 0 30px 0 0;
}

@media screen and (max-width: 1024px) {
    .profile__avatar {
        margin: 0 auto;
    }
}