.popup__container {
    max-width: 430px;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: auto;
    box-sizing: border-box;
    z-index: 999;
    position: relative;
    opacity: 1;
}

@media screen and (max-width: 520px) {
    .popup__container {
        width: calc(100vw - 38px);
    }
}