.form__header_center {
    align-self: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

@media screen and (max-width: 440px) {
    .form__header_center {
        font-size: 20px;
        line-height: 24px;
    }
}