.header {
    max-width: 880px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 41px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 582px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .header {
        padding-top: 28px;
        padding-bottom: 31.6px;
    }
}