.form {
    display: flex;
    flex-direction: column;
    margin: 0 36px;
    color: #000000;
    align-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 520px) {
    .form {
        margin: 0 22px;
    }
}